In [3]:
import pandas as pd

df = pd.read_csv("sea-ice.csv")

df.head()

   Year  Month  sea-ice
0  1979      1     1.00
1  1979      2     0.87
2  1979      3     0.92
3  1979      4     0.87
4  1979      5     0.69

In [4]:
new_df = df.loc[df['Month'] == 6]
new_df